body 
{
  margin:0;
  padding:0;

}
.clr 
{
  clear:both;
}

#wrapper
{
  width:100%;
  height:100%;
  min-width:670px;
  margin:auto;
  position:relative;
}
#space
{
  
}
#header
{
  background-color:#486090;
  color:white;
  text-align: center;
  position:relative;
  font-size:14px;
  font-family:Arial, Helvetica, sans-serif;
  border:1px solid #486090;
  
}
#footer
{
  text-align: center;
  position:absolute;
  width:100%;
  padding:5px 0px 5px 0px; 
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  background-color:#486090;
  color:white;
  bottom:0px;
}
#toolbar  /*The same header but it is assumed to be filled of buttons divs */
{

}
.button_left
{
  position:relative;
  display:inline;
  width:auto;
  top:0px;
  margin-left:6px;
  float:left;
}
.button_right
{
  position:relative;
  display:inline;
  float:right;
  width:auto;
  top:0px;
}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	width:80px;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #1570cd;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.button:active {
	position:relative;
	top:1px;
}

#menu_container
{
  width:22%;
  position:relative;
  float:left;
  font-family:Arial, Helvetica, sans-serif;
  line-height:30px;
  padding-right:9px;
  margin-right:-10px;
}
#menu
{
  font-family:Arial, Helvetica, sans-serif;
  position:relative;
  clear:both;
  width:100%;
  height:100%;
  margin:0px;
  overflow:auto;
}
#menu ul
{
	list-style-type:none;

}



#content
{

  height:100%;
  float:right;
  padding:0px 10px 0px 10px;
  font-size:16px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:justify;
  position:relative;
  border-left: 1px solid #486090;
  border-bottom:1px solid white;
  border-top:1px solid white;
  overflow:auto;

}
.section
{
  display:none;
}
.section_name
{
  display:none;
}
.section_icon
{
  display:none; 
}
.anchor
{
  display:none; 
}



